.product-details{
    .border-secondary{
        border-width: 2px !important;
    }
    .pricing-dropdown{
        button{
            color: inherit;
            
            &.button-chevron{
                flex: 0 1 auto;
            }
        }
        .dropdown-menu.show{
            width: 100%;
        }
    }
    .left-container--product-quick-link{margin-top:30px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0}
    .left-container--product-quick-link>a{color:#4d4d4d;font-size:16px;font-weight:900;line-height:24px;padding-left:25px;position:relative;display:block;width:100%;margin:18px 0}
    .left-container--product-quick-link>a>span{height:24px;width:24px;margin-right:5px;position:absolute;top:0;left:0;-webkit-filter:invert(34%) sepia(81%) saturate(2655%) hue-rotate(6deg) brightness(108%) contrast(104%);filter:invert(34%) sepia(81%) saturate(2655%) hue-rotate(6deg) brightness(108%) contrast(104%);background:url(../../assets/icons/CaretRight.svg) no-repeat}    
}

