@import "src/variables";

$navbar-height: 78px;

.navbar{
    &.top{
        font-size: small;
        border-top: 4px solid $primary;
        .nav-actions span{
            margin: 0 0.5rem;
        }
    }
    &.bottom{
        padding: 0;
        .container{
            height: $navbar-height;
            .navbar-brand{
                margin-right: 0;
            }
            .logo-border{
                margin: 0 1rem 0 0;
                color: $secondary;
            }
            .dropdown.nav-item{
                height: $navbar-height;
                display: flex;
                align-items: center;
                border-bottom: 4px solid $light;
                &:hover{
                    border-color: $primary;
                }
                a{
                    color: $body-color;
                    font-weight: bold;
                    &::after{
                        color: $primary;
                        background: url('../../assets/icons/icon-chevron-down.svg') no-repeat;
                        border: none;
                        width: 20px;
                        padding-top: 12px;
                        /* margin-left: 8px; */
                        position: absolute;
                        top: 42%;
                        -webkit-filter: invert(34%) sepia(81%) saturate(2655%) hue-rotate(6deg) brightness(108%) contrast(104%);
                        filter: invert(34%) sepia(81%) saturate(2655%) hue-rotate(6deg) brightness(108%) contrast(104%);
                    }
                }
            }
        }
    }
    border-bottom: 1px solid $secondary;
}