
@import "variables";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge Regular"),url(./assets/fonts/knowledge2017-regular-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge Regular Italic"),url(./assets/fonts/knowledge2017-regularitalic-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge UltraLight"),url(./assets/fonts/knowledge2017-ultralight-webfont.woff2) format("woff2");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge Light"),url(./assets/fonts/knowledge2017-light-webfont.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge Medium"),url(./assets/fonts/knowledge2017-medium-webfont.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: knowledge;
  src: local("☺"),local("Knowledge Black"),url(./assets/fonts/knowledge2017-black-webfont.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}


button.btn-link, button.btn-link:focus, button.btn-link:hover{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

p{
  margin-bottom: 0.75rem;
}
strong{
  font-weight: 500;
}